<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-label="Slide 1" class="active bg-black" aria-current="true"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" class="bg-black" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/firs-slide.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Lista de juegos</h5>
            <p class="text-dark">Aquí encotraras todos los juegos que agregaste</p>
            <a [routerLink]="['/juegos']"><button class="btn btn-primary">IR A JUEGOS</button></a>
          </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/second-slide.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Agregar juegos</h5>
            <p class="text-dark">De una forma muy intuitiva, puedes generar tu lista de juegos preferidos</p>
            <a [routerLink]="['/juegos/agregar']"><button class="btn btn-primary">IR A AGREGAR</button></a>
          </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>